# Forza rilevazione Java
*.java linguaggio=Java
*.gradle linguaggio=Java
*.xml linguaggio=Java

# Escludi completamente HTML/CSS/JS dalle statistiche
*.html linguaggio=Java
*.css linguaggio=Java
*.js linguaggio=Java
